<!DOCTYPE html>
<html>
    <head>
        <title>
        </title>
       <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    </head>
    <body>
        <div class="title">
            <center>IRIS FLOWER PREDICTION</center><br><br><br>

        </div>
        <div class="image"></div>
        
        
        

        <form action="{{url_for('home')}}" method="post">
            <center>
                sepal length: <center><input type="text" name="a" placeholder="enter 1st value"></center><br><br>
                sepal width: <center><input type="text" name="b" placeholder="enter 2nd value"></center><br><br>
                petal length:<center> <input type="text" name="c" placeholder="enter 3rd value"></center><br><br>
                petal width: <center><input type="text" name="d" placeholder="enter 4th value"></center><br><br>
                <input type="submit" value='predict'>
            </center>
         </form>


        
    </body>
</html>